body{
color: white;
background:brown ;
}



header
{border-bottom:  solid 2px rgb(42, 128, 222);
padding: 20px;
font: size 32px;
color:black

}
section{
background :rgb(184,156,213);
padding-bottom:  80px;
padding-top: 80px;










}


